extends layout

block content
	.container
		.jumbotron
			h1.uncial= title
		.page-header
			h2.text-center
				em (A series of random encounters)
		.row
			.col-md-6
				p.text-center
					a.btn.btn-primary.btn-sm(href='https://twitter.com/You_Encounter') Follow @You_encounter
					| &nbsp; to add an element of danger to your feed
				img.img-rounded.img-responsive(src="images/nutria_posterize.jpeg" height=200)
				p.small.text-right.text-muted Image &copy;2009&nbsp;
					a(href="https://www.flickr.com/photos/gagilas/") Pietra Gallas
					| ,&nbsp;
					a(href="https://creativecommons.org/licenses/by-sa/2.0/") CC BY-SA 2.0
					| &nbsp;(modified)
			.col-md-6
				.well
					//Twitter timeline widget
					a.twitter-timeline(data-dnt='true', href='https://twitter.com/You_Encounter', data-widget-id='717193008421023749') Tweets by @You_Encounter

		//Twitter timeline widget script
		script.
			!function (d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
				if (!d.getElementById(id)) {
					js = d.createElement(s);
					js.id = id;
					js.src = p + "://platform.twitter.com/widgets.js";
					fjs.parentNode.insertBefore(js, fjs);
				}
			}(document, "script", "twitter-wjs");